/* ----------intro-tekst------- */
.galleri-introtekst{
  margin-inline: auto;
  margin-block: 48px;
  text-wrap: pretty;
  width: fit-content;
  max-width: 60ch;
}

.galleri-introtekst > *{
  padding: 12px;
}

.galleri-sektion {
    position: relative;
    margin: 0 auto;
    max-width: 1600px;
    padding: 20px;
}

.galleri-kategori {
    text-align: center;
    position: relative;
    margin-block: 40px;
}

.galleri-slider {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    gap: 20px;
    padding: 20px 0;
    scroll-snap-type: x mandatory;
}

.galleri-kategori img {
    width: 25%; /* 4 billeder vises ad gangen på desktop */
    max-width: 400px;
    max-height: 400px;
    object-fit: cover;
    scroll-snap-align: start;
    flex: 0 0 auto; /* bruges til responsiv snap, så billedet ikke formindskes */
    cursor: pointer; /* pointer ved hover over billede for at vise, det er klikbart */
    transition: transform 0.3s;
}

.galleri-kategori img:hover {
    transform: scale(1.03);
}

.galleri-pil {
    position: absolute;
    cursor: pointer;
    top: 50%;
    font-size: 30px;
    color: white;
    border: none;
    padding: 10px;
    background: rgba(58, 58, 58, 0.5);
    transform: translateY(-50%);
    transition: transform 0.2s opacity 0.2s;
    z-index: 9;
    backdrop-filter: blur(5px);
    mix-blend-mode: difference;
}

.galleri-pil:hover {
    transform: translateY(-50%) scale(1.2);
}

.venstre {
    left: 20px;
}

.hoejre {
    right: 20px;
}

/* skjul horisontal scrollbar, men bevar srollbarens funktionalitet */
.galleri-slider::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

.galleri-slider {
    scrollbar-width: none; /* Firefox */
}

/* Kilde: https://www.youtube.com/watch?v=uKVVSwXdLr0 */
#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    align-items: center;
    padding: 10px;
    box-sizing: border-box;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;

}

#lightbox-billede {
    max-width: 95vw; /*billedet kan maks. fylde 95% af viewportens bredde */
    max-height: 95vh;/*billedet kan maks. fylde 95% af viewportens højde */
    width: auto;
    height: auto;
    object-fit: contain;
    display: block;
    margin: 0 auto;
    box-sizing: border-box;
}

#luk-lightbox {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    z-index: 1001;
}

#luk-lightbox:hover {
    transform: scale(1.2);
    opacity: 0.9;
}

/* responsiv */

/* laptop */
@media (max-width: 1280px) {
    .galleri-kategori img {
        width: 33.3%; /* = 3 billeder vises ad gangen */
    }
}

/* tablet */
@media (max-width: 1000px) {
    .galleri-kategori img {
        width: 50%; /* = 2 billeder vises ad gangen */
    }
}

/* mobil */
@media (max-width: 600px) {
    .galleri-kategori img {
        width: 100%; /* = 1 billede vises ad gangen */
    }
}